<%include partials/header%> 

  <!-- ========== Css Files ========== -->
  <link href="/admin/css/login.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#login").live("click",function(e){
        e.preventDefault();
        var user= new Object();
        user.email=$('#email').val();
        user.password=$('#password').val();
        //console.log(user);
        $.ajax({
          type:'POST',
          url:'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8086/api/users/login',
          data:user,
          dataType: 'json',
          success:function(data){
            alert(data.status);
            console.log(data.status);
          },
          error:function(jqXHR, textStatus, errorThrown){
          alert('error: ' + textStatus + ': ' + errorThrown);
          console.log(errorThrown);
          }
        });
    });
  });
    
  </script>
  </head>
  <body>

    <div class="login-form">
      <!-- <form action="/api/login" method="POST"> -->
        <form id="form2" runsat="server" method="post">
        <div class="top">
          <img src="/admin/img/kode-icon.png" alt="icon" class="icon">
          <h1>Cadenza</h1>
          <h4>Admin Panel</h4>
        </div>
        <div class="form-area">
          <div class="group">
            <input type="text" class="form-control" name="email"  id="email" placeholder="email">
            <i class="fa fa-user"></i>
          </div>
          <div class="group">
            <input type="password" class="form-control" name="password"  id="password" placeholder="Password">
            <i class="fa fa-key"></i>
          </div>
          <div class="checkbox checkbox-primary">
            <input id="checkbox101" type="checkbox" checked>
            <label for="checkbox101"> Remember Me</label>
          </div>
          <button type="submit" id="login" class="btn btn-default btn-block">LOGIN</button>
        </div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="/"><i class="fa fa-external-link"></i> Register Now</a></div>
        <div class="col-xs-6 text-right"><a href="#"><i class="fa fa-lock"></i> Forgot password</a></div>
      </div>
    </div>

</body>
</html>