<html>
    <head>
        <title>Signupverification</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
          $("#varify").live("click",function(e){
              e.preventDefault();
              var user= new Object();
              user.email=$('#email').val();
              user.verification_code=$('#code').val();
              user.storeName=$('#storename').val();
              //console.log(user);
              $.ajax({
                type:'POST',
                url:'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8086/api/users/signupverification',
                data:user,
                dataType: 'json',
                success:function(data){
                  alert(data.status);
                  console.log(data.status);
                },
                error:function(jqXHR, textStatus, errorThrown){
                alert('error: ' + textStatus + ': ' + errorThrown);
                console.log(errorThrown);
                }
              });
          });
        });
        </script>
</head>
<body>
    <div class="container">
            <h2 style="padding-left: 180px;">Signupvarification form</h2>
    <form id="form3" method="post" runsat="server">
          <div class="row">
          <div class="form-group">
             <div class="col-sm-6">
             <label for="email">email</label>
             <input type="text" class="form-control" id="email" placeholder="email" name="email">
             </div>
          </div>
        </div>
        <div class="row">
            <div class="form-group">
               <div class="col-sm-6">
               <label for="email">verification code</label>
               <input type="text" class="form-control" id="code" placeholder="code" name="code">
               </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
               <div class="col-sm-6">
               <label for="email">storeName</label>
               <input type="text" class="form-control" id="storename" placeholder="Store name" name="storename">
               </div>
            </div>
          </div>

         <div class="row" style="padding: 10px 0px 0px 13px;">
            <input type="submit" id="varify" value="varify">
        </div>
        </form>
        </div>
</body>
</html>