<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Plan</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosectionpro">	    	
			    <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">

		            	<div class="wizard-header1">
	                       <div class="signuphead">CADENZA SETUP</div>
	                    </div>
	                    <div class="signupbody">
			                <div class="card wizard-card" data-color="green" id="wizard">
			                	<form action="" method="POST">			                		
			                        <div class="tab-content">
			                            <!-- PRODCT STARTED HERE -->
			                            <div class="tab-pane active" id="product">
			                            	<div class="row">
			                                	<div class="col-sm-12">
			                                    	<div class="wizard-header">
							                        	<h4 class="wizard-title">Setup your store by adding plans </h4>
							                        	<p class="category">Clients will be able to view and search these fields, and purchase these products.</p>
							                    	</div>

							                    	<!-- WIzard starts here -->
										            <div class="row">
										               <div class="col-sm-12">
										                  <ol class="steps">
										                    
										                     <li class="steps__item" ><span class="steps__link">Product</span></li>
										                     <li class="steps__item" ><span class="steps__link">Subscription</span></li>
										                      <li class="steps__item  steps__item--active  steps__item--first"><a href="#" class="steps__link">Plan</a></li>
										                     <li class="steps__item" disabled="disabled"><span class="steps__link">Payment</span></li>
										                  </ol>  
										               </div>
										            </div>
										         <!-- WIZARD ENDS HERE -->

							                    	<!-- Product Information starts here -->
							                    	<div class="col-sm-12">
								                    	<div class="wizard-header">
								                        	<h4 class="newproduct">Store Plans</h4>
								                        	<hr class="hrhere">
								                        </div>

								                        <!-- store plans starts here-->
								                        <div class="col-sm-12">
															<div class="col-sm-3">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelewplan">Plan Name</label>
																	<div class="form-group">
																		<div class="plansection">
																			<div class="silverimg"><img alt="silver" src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/silver.png"></div>
																			<div class="silverinpu">
													                    		<input type="text" class="form-control" id="" value="Silver" readonly>
													                    	</div>
													                    </div>
												                	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group">
												                    	<div class="plansection">
																			<div class="silverimg"><img alt="gold" src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/gold.png"></div>
																			<div class="silverinpu">
													                    		<input type="text" class="form-control" id="exampleInputEmail1" value="Gold" readonly>
													                    	</div>
													                    </div>
												                	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group">
												                    	<div class="plansection">
																			<div class="silverimg"><img alt="Platinum" src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/platinum.png"></div>
																			<div class="silverinpu">
													                    		<input type="text" class="form-control" id="exampleInputEmail1" value="Platinum" readonly>
													                    	</div>
													                    </div>
												                	</div>
																</div>
															</div>

															<div class="col-sm-3">
																<label class="labelewplan" style="text-align:center;">Discount</label>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="col-sm-12">
								                                    	<input type="text" class="form-control" value="0" id="plannameherepercentage" name="Dis1" readonly>
								                                    </div>
								                                    <div class="col-sm-12">
								                                    	<input type="text" class="form-control" value="" id="plannameherepercentage" name="Dis2" required>
								                                    </div>
								                                    <div class="col-sm-12">
								                                    	<input type="text" class="form-control" value="" id="plannameherepercentage" name="Dis3" required>
								                                    </div>
									                            </div>
															</div>

															<div class="col-sm-3">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelewplan">Delivary Frequency</label>
																	<div class="form-group">
												                    	<input type="text" class="form-control" id="delivary_frequency_silver" value="1" readonly>
												                	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group">
												                    	<input type="text" class="form-control" id="delivary_frequency_gold" value="" required>
												                	</div>
																</div>
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="form-group">
												                    	<input type="text" class="form-control" id="delivary_frequency_platinum" value="" required>
												                	</div>
																</div>
															</div>

															<!-- <div class="col-sm-3">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelewplan">Payment Type</label>
																	<div class="form-group">
												                    	<select class="planssection" disabled="true">
												                    		<option value="yes" selected>Upfront</option>
												                    	</select>
												                	</div>
												                	<div class="form-group">
												                    	<select class="planssection" disabled="true">
																				<option value="yes" selected>Upfront</option>
												                    	</select>
												                	</div>
												                	<div class="form-group">
												                    	<select class="planssection" disabled="true">
												                    		<option value="yes" selected>Upfront</option>
												                    	</select>
												                	</div>
																</div>
															</div> -->
														</div>
								                        <!-- Store plans ends here -->
								                        <div class="col-sm-4" style="float:right;">						
															<input type="submit" id="post_plan" name="submit" class="submitlinkplan" value="Next">
														</div>	

													</div>	
													<!-- Product information ends here -->
													


			                            		</div>
			                            	</div>
			                            </div>
			                            <!-- PRODCT END HERE -->
			                        </div>
			                	</form>
			                </div>
			            </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->   
	</div>
	<p style="display:none;" id="sid"><%=SKU%></p>

	<!-- MOdal starts here -->  
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">Your Basket is successfully added</h4>
		</div>
		<div class="modal-body" id="model_body">
		</div>
		<div class="modal-footer">
		  <button type="button" id="singleProducts" class="btn btn-default" data-dismiss="modal">close</button>
		</div>
	  </div>
	</div>
</div>
<!-- Modal ends here -->

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>

	<script>
		$(document).ready(function(){			
			//$("#basketone").show();
			$("#baskettwo").hide();

			//$("#planone").show();
			$("#plantwo").hide();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();
			
		});
	</script>
	<style type="text/css">
		input[type=text] {text-align: center;}
		input[type=time] {text-align: center;}
	</style>

<script>
		$(document).ready(function(){
			$("#post_plan").click(function(e){
				e.preventDefault();
				var token=window.localStorage.getItem('token');
				console.log("token"+ token);
				var plan= {};
				var plan1= {};
				var plan2= {};
				var plan3= {};
				plan.token=token;
				var sdis=document.getElementsByName('Dis1')[0].value;
				var gdis=document.getElementsByName('Dis2')[0].value;
				var pdis=document.getElementsByName('Dis3')[0].value;
				var reOrder1=$('#delivary_frequency_silver').val();
				var reOrder2=$('#delivary_frequency_gold').val();
				var reOrder3=$('#delivary_frequency_platinum').val();
				var up1="yes";
				var up2="yes";
				var up3="yes";
				plan1.collectionType='plan';
				plan1.collectionId=Math.floor((Math.random() * 100) + 1);
				plan1.basketSKU=$('#sid').html();
				plan1.title='silver';
				plan2.collectionType='plan';
				plan2.collectionId=Math.floor((Math.random() * 100) + 1);
				plan2.basketSKU=$('#sid').html();
				plan2.title='gold';
				plan3.collectionType='plan';
				plan3.collectionId=Math.floor((Math.random() * 100) + 1);
				plan3.basketSKU=$('#sid').html();
				plan3.title='platinum';	
				if(sdis!="")
				{
					plan1.discount=sdis;
				}
				else{
					plan1.discount='0';
				}
				if(gdis!="")
				{
					plan2.discount=gdis;
				}
				else{
					plan2.discount='0';
				}
				if(pdis!="")
				{
					plan3.discount=pdis;
				}
				else{
					plan3.discount='0';
				}
				if(reOrder2!="")
				{
					plan2.reOrder=reOrder2;
				}
				else{
					plan2.reOrder='0';
				}
				if(reOrder3!="")
				{
					plan3.reOrder=reOrder3;
				}
				else{
					plan3.reOrder='0';
				}
				plan.token=token;
				plan.collectionId=$('#sid').html();
				var plans={};
				plans.silver=plan1;
				plans.gold=plan2;
				plans.platinum=plan3;
				plan.plans=plans;
				console.log(plan);
				$.ajax({
				  type:'PUT',
				  //url:'http://ec2-13-127-109-51.ap-south-1.compute.amazonaws.com:8083/api/plans/addplan',
					url:'http://ec2-13-126-101-159.ap-south-1.compute.amazonaws.com:8089/api/subscribe/updateSubscribe',
				  data:plan,
				  dataType:'json',
				  success:function(data){
					if(data.status=="success")
					{
						//const url="http://admin."+data.storeName+".serverless9.com/store_setup";
						//console.log("url" + url);
						//window.location="/payment";
						var tab = "";
						tab+='<p>Would you like to add one more Basket?</p>';
						tab+='<div class="pull-right">';
						tab+='<button type="button"  class="btn btn-default text-center yes">Yes</button>';
						tab+='</div>';
						tab+='<div class="pull-left">';
						tab += '<button type="button"  class="btn btn-default text-center no">No</button>';
						tab+='</div>';
						$('#model_body').html(tab);
						$('#myModal').modal('show');
					}
				  },
				  error:function(jqXHR, textStatus, errorThrown){
						  alert('error: ' + textStatus + ': ' + errorThrown);
				  console.log(errorThrown);
				  }
				});
			});
		  });
		  $(document).ready(function(e){
				$(document).on('click','.yes', addProduct);
			});
			function addProduct(){
				$('#myModal').modal('hide');
				var storeName=window.localStorage.getItem('storeName');
				window.location="/basket?storeName="+storeName;
	
			}
			$(document).ready(function(e){
				$(document).on('click','.no', next);
			});
			function next(){
				$('#myModal').modal('hide');
				//var collectionId=document.getElementById("collectionId").value;
				//window.location="/plan?sku="+collectionId;
				window.location="/payment";
			}
		</script>

</html>
